@model IEnumerable<ShopBanHang.Models.HDOffLine>

@{
    ViewBag.Title = "DonHangOffline";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{

    <table>
        <tr>
            <td>From date &nbsp;</td>
            <td><input name="fromDate" type="date" /> &nbsp;</td>
            <td>ToDate date &nbsp;</td>
            <td><input name="toDate" type="date" /> &nbsp;</td>
            <td> <input type="submit" name="name" value="Tìm kiếm" /></td>
        </tr>

    </table>


}
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayMua)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayMua)
            </td>
            <td>
                <a href="@Url.Action("ChiTietDonHangOffline","DonHang" ,new { @id=item.MaHD})">Chi tiết</a>
            </td>
        </tr>
    }

</table>
