@using ShopBanHang.Models
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutTrangChuNewNoAd.cshtml";
}

<table border="1px">
    <tr>
        
        <td>Tên sản phẩm</td>
        <td>Ảnh </td>
        <td>Đơn giá</td>
        <td>Số lượng</td>
        <td>Thành tiền</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            
            
            <td><img src="@Url.Content("~/Assit/img/"+item.hinhAnh)" alt="Alternate Text" width="50" height="50" /></td>
            <td>@item.tenSP</td>
            <td>@String.Format("{0:0,0}", item.donGia.ToString()) USD </td>
            <td>@item.soLuong</td>
            <td>@item.thanhTien </td>
            <td>@Html.ActionLink("Xóa", "XoaGioHang", new { masp = item.maSP })</td>
            
       
          
        </tr>
        

    }
<tr>
    <td>Tổng tiền</td>
    <td colspan="5" style="text-align:right">@ViewBag.tongtien</td>
</tr>
    <tr>
        
        <td colspan="6" style="text-align:right">@Html.ActionLink("Sửa", "SuaGioHang")</td>
    </tr>
    <tr>
        <td colspan="2"><a href="@Url.Action("PaymentWithPaypal", "Home")"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" /></a></td>
        <td colspan="4" style="text-align:right">
            @using (Html.BeginForm("DatHang", "GioHang",new { @type=0}))
            {
                <input type="submit" value="Đặt hàng" />
            }
        </td>
    </tr>
    <tr>
        
        @*<td>@Html.ActionLink("Paypal", "PaymentWithPaypal", "GioHang")</td>*@
    </tr>
</table>

