@using ShopBanHang.Models
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutKhach1.cshtml";
}

<table border="1px">
    <tr>
        <td>Mã sản phẩm</td>

        <td>Tên sản phẩm</td>

        <td>Ảnh </td>

        <td>Đơn giá</td>

        <td>Số lượng</td>


        <td>Thành tiền</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.maSP</td>

            <td>@item.tenSP</td>

            <td><img src="@Url.Content("~/Assit/img/"+item.hinhAnh)" alt="Alternate Text" width="50" height="50" /></td>

            <td>@String.Format("{0:0,0}", item.donGia.ToString()) VNĐ </td>

            <td>@item.soLuong</td>


            <td>@item.thanhTien </td>
            <td>@ViewBag.tongtien</td>
        </tr>

    }
    <tr>
        <td colspan="6" style="text-align:right">@Html.ActionLink("Sửa", "SuaGioHang")</td>
    </tr>
    <tr>
        <td colspan="6" style="text-align:right">
            @using (Html.BeginForm("DatHang", "GioHang"))
            {
                <input type="submit" value="Đặt hàng" />
            }
        </td>
    </tr>
</table>

