@model ShopBanHang.Models.HDTG

@{
    ViewBag.Title = "TaoCTHDTG";
    Layout = "~/Views/Shared/_LayoutTrangChuNewNoAd.cshtml";
}

@ViewBag.Error
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    
<div class="form-group">

    <h4 style="color:#00ff21;margin-top:15px;margin-bottom:15px;">Tiền Cọc</h4>
    <div class="col-md-10">
        @Html.EditorFor(model => model.TienCoc, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TienCoc, "", new { @class = "text-danger" })
        @ViewBag.tb

    </div>
    <div class="form-group" style="margin-bottom:15px;margin-top:15px;">

        <div class="col-md-10">

            @Html.DropDownListFor(x => x.soThang, new[]
  {
      new SelectListItem(){Text="3 tháng",Value="3"},
      new SelectListItem(){Text="6 tháng",Value="6"}

  })

        </div>
    </div>
    <div class="form-group">

        <div class="col-md-10">

            @Html.DropDownListFor(x => x.maKho, new[]
  {
      new SelectListItem(){Text="Sư Vạn Hạnh",Value="1"},
      new SelectListItem(){Text="Nguyễn Đình Chiểu",Value="2"},
       new SelectListItem(){Text="Xô Viết Nghệ Tĩnh",Value="3"},

  })

        </div>
    </div>
    @{ Html.RenderAction("PartialGioHang", "GioHang");}
    <input type="submit" name="name" value="Lưu" class="btn btn-secondary"/>


</div>
}

