@model ShopBanHang.Models.Admin

@{
    ViewBag.Title = "CTNV";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}



<div style="width:50%;height:auto;margin-top:20px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="color:#1838e7">Admin</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.userAdmin)

            <div class="form-group">
                Mật khẩu tài khoản Admin
                    @*@Html.EditorFor(model => model.passAdmin, new { htmlAttributes = new { @class = "form-control" } })*@
                    <input type="password" name="passAdmin" ,id="passAdmin" value="" class="class=" form-control text-box single-line"" />
                    @Html.ValidationMessageFor(model => model.passAdmin, "", new { @class = "text-danger" })
                </div>
         </div>

            <div class="form-group">
                Tên của Admin
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tenAdmin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tenAdmin, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-secondary" style="margin-top:15px;margin-bottom:15px;"/>
                </div>
            </div>
        
    }



</div>