@model IEnumerable<ShopBanHang.Models.SanPham>

@*@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}*@
@{
    ViewBag.Title = "TaoHDNhap";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}

<div style="width:100%">
    <a href="@Url.Action("Add","QuanLy")" style="margin-top:15px;margin-bottom:15px;">Nhập sản phẩm mới</a>
    @using (Html.BeginForm())
    {
        @Html.TextBox("ma")
        <button type="submit" class="btn btn-secondary" style="margin-left:10px;"><i class="fas fa-search fa-sm"></i></button>
    }
    <table class="table">
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                File ảnh
            </th>
            <th>
                Gía sản phẩm
            </th>
            <th>
                mô tả
            </th>
            <th>
                Hãng
            </th>
            <th>
                Loại sản phẩm
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.anh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.giaSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hang.tenHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loai.TenLoaiSP)
                </td>
                <td>
                    <a href="@Url.Action("xemChiTiet","QuanLy",new { @masp=item.maSP})">Chi tiết</a>
                    <a href="@Url.Action("Edit","QuanLy",new { @id=item.maSP})">Sửa</a>
                    <a href="@Url.Action("Delete","QuanLy",new { @id=item.maSP})">Xóa</a>
                </td>
            </tr>
        }

    </table>

</div>