@model IEnumerable<ShopBanHang.Models.KhachHang>

@{
    ViewBag.Title = "DetailsAcc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>DetailsAcc</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taiKhoan)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taiKhoan)
        </td>
        
        <td>
           
            @Html.ActionLink("Details", "DetailDonHang", new { makh=item.maKH }) |
          
        </td>
    </tr>
}

</table>
