@model IEnumerable<ShopBanHang.Models.KhachHang>

@{
    ViewBag.Title = "QLTaiKhoan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>QLTaiKhoan</h2>


<table class="table">
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
           Ngày sinh
        </th>
        <th>
            email
        </th>
        <th>
           Số điện thoai
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sdt)
        </td>
       
        <td>
       
            @Html.ActionLink("Details", "DetailsAcc", new { makh = item.maKH }) |
           
        </td>
    </tr>
}

</table>
