@model IEnumerable<ShopBanHang.Models.KhachHang>

@{
    ViewBag.Title = "TaoHDTG";
    Layout = "~/Views/Shared/_LayoutAdminCT.cshtml";
}
<h2 style="margin-top:15px;margin-bottom:15px;color:#1baf08">Tạo Hóa Đơn Trả Góp</h2>

<a href="@Url.Action("TaoKhachHang","QuanLy")" style="margin-top:15px;margin-bottom:15px;">Khách hàng mới</a>
@using (Html.BeginForm("TaoHDTG", "QuanLy"))
{
<div style="margin-top:15px;margin-bottom:15px;">@Html.TextBox("tuKhoa")<button type="submit" class="btn btn-primary" style="margin-left:10px;"><i class="fas fa-search fa-sm"></i></button></div>
    <table class="table">
        <tr>
            <th>
                Mã khách hàng
            </th>
            <th>
               Tên khách hàng
            </th>
            <th>
               Địa chỉ khách hàng
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Email
            </th>

            <th>
                Tổng Mua
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.tongMua)
                </td>
                <td>
                    <a href="@Url.Action("TaoCTHDTG","GioHang", new { @MaKH=item.MaKH})">Chọn</a>
                   
                </td>
            </tr>
        }

    </table>

}