@model IEnumerable<ShopBanHang.Models.PhieuTraGop>

@{
    ViewBag.Title = "Tra";
    Layout = "~/Views/Shared/_LayoutAdminCT.cshtml";
}

<h2>Tra</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayTra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDenHan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienDong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienPhat)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDenHan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ki)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienDong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienPhat)
        </td>
        
    </tr>
}

</table>
