@model IEnumerable<ShopBanHang.Models.PhieuTraGop>

@{
    ViewBag.Title = "Tra";
    Layout = "~/Views/Shared/_LayoutAdminCT.cshtml";
}

<h2 style="color:#ff0000">Trả</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ngày Trả
        </th>
        <th>
            Ngày đến hạn
        </th>
        <th>
            Kỳ
        </th>
        <th>
            Tiền đóng
        </th>
        <th>
            Tiền phạt
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDenHan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ki)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienDong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienPhat)
        </td>
        
    </tr>
}

</table>
