@model IEnumerable<ShopBanHang.Models.PhieuTraGop>

@{
    ViewBag.Title = "TraGop";
    Layout = "~/Views/Shared/_LayoutAdminCT.cshtml";
}

<h2 style="color:red;">Trả Góp</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Ngày Trả
        </th>
        <th>
            Ngày Đến Hạn
        </th>
        <th>
            Kỳ
        </th>
        <th>
            Tiền Đóng
        </th>
        <th>
            Tiền Phạt
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDenHan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ki)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienDong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienPhat)
        </td>
       
        <td>
           
            @Html.ActionLink("Details", "Tra", new { id=item.MaPhieu }) |
           
        </td>
    </tr>
}

</table>
