@model IEnumerable<ShopBanHang.Models.HDOnline>
 @using ShopBanHang.Models;


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
       
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGiao)
        </td>
        <td>
            @if (item.TinhTrang == false)
            {
                <input type="checkbox" name="name" value="false" disabled="disabled" />
                ModelCTDHOnline.mahd = item.MaHD;
                @Html.ActionLink("Gửi hàng", "GuiHang", new { @madh=ModelCTDHOnline.mahd})
            }
            else
            {
                <input type="checkbox" name="name" value="true" checked="checked" disabled="disabled" />
            }
        </td>
       
       
    </tr>
   
    
}

</table>
