@model IEnumerable<ShopBanHang.Models.CTHDOff>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thanhTien)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thanhTien)
        </td>
        
    </tr>
}
    <tr>
        <td>Tổng tiền</td>
        <td></td>
        <td>@ViewBag.tongtienoff</td>
    </tr>
</table>
