
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-a11y="true"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/CustomerNoAD.css">
    <!-- Bootstrap core JavaScript-->
    <script src="~/Assit/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assit/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assit/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assit/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/Assit/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Assit/js/demo/chart-area-demo.js"></script>
    <script src="~/Assit/js/demo/chart-pie-demo.js"></script>
</head>
<body>
    <div class="main">
        <div class="top">
            <div class="topofweb">
                <a href="/giohang" style="margin-top:25px;"><i class="fas fa-shopping-cart"></i></a>
                <div style="width: 70%; height: 40px;margin-left: 15%;float: left;">

                    <ul style="float: right; text-align: center;">
                        @if (Session["tenKH"] != null)
                        {

                            <a href="#" class="nav-link dropdown-toggle" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Session["tenKH"].ToString()</a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/hoso">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Tài khoản
                                </a>

                                <a href="@Url.Action("DangXuat","NguoiDung" )" class="dropdown-item"> <i class="fas fa-sign-in-alt"></i>Đăng xuất</a>
                                <div class="dropdown-divider"></div>

                            </div>
                        }
                        else
                        {
                            <a class="nav-link dropdown-toggle" href="/dangnhap">

                                <span class="dangkydangnhap ">Đăng ký/Đăng nhập  </span>


                            </a>
                        }



                    </ul>
                    <p style="font-size: 20px; color: hotpink; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;margin-left: 30px;">Hotline: 0706883095</p>
                </div>
            </div>
            <div class="search">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2" style="border: 0.4px solid #ccc9c9;">
                        <img src="~/image/logo.png" alt="" style="width: 100%;height: 120px;">
                    </div>
                    <div class="col-md-4">
                        <div class="input-group txtTimKiem" style="margin-left:40px;margin-top:40px">
                            @using (Html.BeginForm())
                            {
                        @Html.TextBox("search")

                            <button type="submit" class="btn btn-primary"><i class="fas fa-search fa-sm"></i></button>
                            }


                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="mid">
                <ul>
                    <li>
                        <a href="@Url.Action("Index","Home")">Trang Chủ</a>
                    </li>
                    <li>
                        <a href="">Laptop</a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("AppleLaptop","Home")">Apple</a></li>
                            <li><a href="@Url.Action("DellLaptop","Home")">Dell</a></li>
                            <li><a href="@Url.Action("HPLaptop","Home")">HP</a></li>
                            <li><a href="@Url.Action("AsusLaptop","Home")">Asus</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Phone</a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("ApplePhone","Home")">Apple</a></li>
                            <li><a href="@Url.Action("SamsungPhone","Home")">SamSung</a></li>
                            <li><a href="@Url.Action("XiaomiPhone","Home")">Xiaomi</a></li>
                            <li><a href="@Url.Action("OppoPhone","Home")">Oppo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Watch</a>
                        <ul class="sub-menu" style="color: white;">
                            <li><a href="@Url.Action("AppleWatch","Home")">Apple</a></li>
                            <li><a href="@Url.Action("XiaomiWatch","Home")">Xiaomi</a></li>
                            <li><a href="@Url.Action("HuaweiWatch","Home")">Huewei</a></li>
                            <li><a href="@Url.Action("LGWatch","Home")">LG</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Camera</a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("SonyCamera","Home")">Sony</a></li>
                            <li><a href="@Url.Action("CannonCamera","Home")">Cannon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Liên Hệ</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content">
            @RenderBody()
        </div>
        
    </div>
</body>
</html>